@import url('http://fonts.googleapis.com/css?family=Roboto');

body {
    width: 900px;
    margin: 0;
    padding: 0;      
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-size: medium; 
}

.header {    
    height: 180px;
    width: 900px;
    background: #6E93B8;
    position: relative;
}

.headerImage {
    height: 150px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 30px;
    float: left;
}

.headerCompanyName {    
    width: 80%;
    margin-bottom: 15px;
    line-height: 220px;
    text-align: left;
    font-size: 50px;
    font-weight: 600;
    color: #FFFFFF;    
}

.menu {
    width: 100%;
    position: relative;
    font-size: 80%;
}

.content {
    width: 900px;
    height: 100%;
    background: #E2E2E2;
    position: absolute;
}

.contentInternal {
    margin-top: 25px;   
    margin-left: 25px;
    margin-right: 25px;
}

.ui-growl {
    position:inherit;
    margin-top: 25px; 
    margin-right: 25px;
    float:right;
}